# Python
__pycache__/
*.py[cod]
*.env
.env
venv/
.venv/
*.sqlite3

# Django
staticfiles/
media/

# Node / frontend
node_modules/
/dist
/build

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Byte-compiled
*.pyc
